.castCard {
    border: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    width: 15rem;
}

.castCard img {
    width: 100%;
    height: 17rem;
}

.castCard h5 {
    margin: 1.2rem 1rem;
    color: #000;
}

.castCard h6 {
    color: rgba(0,0,0,.6);
    margin: 1rem 1rem;
}