.mediaMenu {
    display: flex;
}

.mediaTypes {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.mediaTypes li {
    list-style: none;
    font-size: 1.6rem;
    cursor: pointer;
}

.mediaTypes li:hover {
   color: #ef814f;
}

.mediaLightBox {
    margin: 2rem 0;
    width: 100%;
    height: 30rem;
}