@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: local('Roboto Medium'), url(./assets/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url(./assets/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), url(./assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  src: local('Roboto Italic'), url(./assets/fonts/Roboto/Roboto-BlackItalic.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  margin: 0;
  padding: 0
}

html {
  font-family: 'Roboto';
  font-size: 62.5%;
  color: #717173;
}

body p {
  font-family: 'Roboto Light';
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: justify;
  font-weight: 600;
  color: #fff;
}

body h1 {
  font-size: 3rem;
  font-family: 'Roboto Bold';
}

body h2 {
  font-size: 2.5rem;
  font-family: 'Roboto Bold';
}

body h3 {
  font-size: 2.2rem;
  font-family: 'Roboto Bold';
}

body h4 {
  font-size: 1.8rem;
  font-family: 'Roboto Bold';
}
