@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: local('Roboto Medium'), url(./assets/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url(./assets/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), url(./assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  src: local('Roboto Italic'), url(./assets/fonts/Roboto/Roboto-BlackItalic.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Roboto';
  font-size: 62.5%;
  color: #717173;
}
